// .Container {
//   background-color: #0baf4cc4;
//   text-align: center;
//   width: 70%;
//   margin: auto;
//   border-radius: 20px;
//   overflow: hidden;
//   padding: 20px;
// }

// .SECTION {
//   padding: 20px;
// }

// .header {
//   margin-bottom: 10px;
// }
